<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD56Pr9TFiOMSdE-K6xu1n2BQDwAP97teM</string>
	<key>GCM_SENDER_ID</key>
	<string>92635895667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatFlutter</string>
	<key>PROJECT_ID</key>
	<string>danny-chat-poc</string>
	<key>STORAGE_BUCKET</key>
	<string>danny-chat-poc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92635895667:ios:a0dc787c3a062d1c905706</string>
</dict>
</plist>